<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.muzix">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"
        android:permissionGroup="android.permission-group.MICROPHONE"
        android:protectionLevel="dangerous"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/muzix_launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/muzix_launcher_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:name=".GlobalApplication">

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
        <activity android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".KakaoSignupActivity"/>
        <activity android:name=".RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ModifyMemberActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".MyMusicListActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".RecordActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".SheetMusicActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/PlayerTheme">
        <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <data
            android:host="*"
            android:mimeType="*/*"
            android:pathPattern=".*\\.mid"
            android:scheme="file" />
        </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity"/>
        <activity android:name=".ModifySheetMusicActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/PlayerTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.mid"
                    android:scheme="file" />
            </intent-filter>
        </activity>
    </application>

</manifest>